@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>郵件送出</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="../../assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../../assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <style>
        body {
            background-image: url(../../assets/images/light-box/l3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body class="fix-menu">
    <section class="p-fixed d-flex text-center">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body">
                        <form class="md-float-material">
                            <div class="text-center">
                                <img src="../../assets/images/logo.png" alt="logo.png">
                            </div>
                            <div class="auth-box" style="background-color: rgba(255, 255, 255,0.5)">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-left">請檢查電子郵件以重設密碼。</h3>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="../../assets/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../../assets/plugins/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../../assets/plugins/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="../../assets/js/script.js"></script>
    <!---- color js --->
    <script type="text/javascript" src="../../assets/js/common-pages.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>