<div class="modal fade" id="inputModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="inputModalLabel">請輸入密碼以核對身分。</h4>
                <span>(只有發起人可下載資料)</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    密碼 (登入時使用的密碼)
                    <input class="form-control" type="password" id="inputName" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                <button type="button" id="validateUserBtn" class="btn btn-inverse">確定</button>
            </div>
        </div>
    </div>
</div>