<div class="modal fade" id="infoModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@TempData["modalTitle"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @TempData["modalBody"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalBtn" data-dismiss="modal" style="cursor:pointer">關閉</button>
            </div>
        </div>
    </div>
</div>